{% load static %}
{% block sidebar %}
<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title" key="Main">Menu</li>
                
                
                
                {% if user.is_staff %}
                    <li><a href="{% url 'lista_procesos_electorales' %}"><i class="fas fa-list"></i> <span class="menu-text">Lista de Procesos Electorales</span></a></li>
                    <li><a href="{% url 'crear_proceso_electoral' %}"><i class="fas fa-plus"></i> <span class="menu-text">Crear proceso electoral</span></a></li>
                    <li><a href="{% url 'agregar_candidato' proceso_id=5 %}"><i class="fas fa-user-plus"></i> <span class="menu-text">Agregar Candidato</span></a></li>
                    <li><a href="{% url 'resultados_votacion' proceso_id=5 %}"><i class="fas fa-poll"></i> <span class="menu-text">Resultados</span></a></li>
                    <li><a href="{% url 'resultados_pdf' proceso_id=5 %}"><i class="fas fa-print"></i> <span class="menu-text">Imprimir Resultados</span></a></li>
                    <li><a href="{% url 'registrar_sufragante' proceso_id=5 %}"><i class="fas fa-clipboard-check"></i> <span class="menu-text">Registrar Sufragante</span></a></li>
                    <li><a href="{% url 'generar_padron_pdf' proceso_id=5 %}"><i class="fas fa-print"></i> <span class="menu-text">Imprimir Padrón de votación</span></a></li>
                    <li><a href="{% url 'generar_pdf_padron_para_firmas' proceso_id=5 %}"><i class="fas fa-print"></i> <span class="menu-text">Imprimir Padrón para firmas</span></a></li>
                    
                    
                {% endif %}
                
                <li><a href="{% url 'verificar_cedula' proceso_id=5 %}"><i class="fas fa-id-card"></i> <span class="menu-text">Verificar Cédula</span></a></li> 
                
                <li><a href="{% url 'detalle_proceso_electoral' proceso_id=5 %}"><i class="fas fa-info-circle"></i> <span class="menu-text">Detalles de Proceso</span></a></li> 

                <li>
                    {% if user.is_authenticated %}
                        {% if user.has_usable_password %}
                            <!--<a href="{% url 'account_change_password' %}"><i class="fas fa-key"></i> <span class="menu-text">Cambiar Contraseña</span></a>-->
                            <a href="{% url 'account_logout' %}"><i class="fas fa-sign-out-alt"></i> <span class="menu-text">Salir</span></a>
                        {% endif %}
                    {% else %}
                        <a href="{% url 'account_login' %}"><i class="fas fa-sign-in-alt"></i> <span class="menu-text">Log In</span></a>
                    {% endif %}
                </li>

                
            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
{% endblock %}
