{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% block title %}{% trans "Sign Out" %}{% endblock title %}
    
{% block content %}
                    <div class="card overflow-hidden">
                        <div class="bg-primary">
                            <div class="text-primary text-center p-4">
                                <h5 class="text-white font-size-20">Salir</h5>
                                <p class="text-white-50">Consejo Nacional Electoral Pastaza.</p>
                                <a href="{% url 'dashboard' %}" class="logo logo-admin">
                                    <img src="{% static 'images/favicon.ico' %}" height="50" alt="logo">
                                </a>
                            </div>
                        </div>

                        <div class="mt-4">
                            <h5>{% trans "Salir" %}</h5>
                            <p class="text-muted">{% trans 'Esta seguro que quiere salir?' %}</p>
                            <form method="post" action="{% url 'account_logout' %}">
                                {% csrf_token %}
                                {% if redirect_field_value %}
                                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                                {% endif %}
                                <button type="submit" class="btn btn-success w-100">{% trans 'Salir' %}</button>
                            </form>
                        </div>
                        <div class="mt-4 text-center">
                            <p class="mb-0">Regresar al inicio ? <a href="{% url 'dashboard' %}" class="fw-semibold text-primary text-decoration-underline"> Regresar </a> </p>
                        </div>
                    </div>
                               
{% endblock content %}
